.ipynb_checkpoints
my_logs/*
saved_models/*

my_mnist_logs/*
my_mnist_model.h5
my_model_A.h5

my_cifar10_logs/*
my_cifar_model.h5
my_cifar10_alpha_dropout_model.h5
my_cifar10_bn_model.h5
my_cifar10_selu_model.h5

my_model_with_custom_loss_class.kears
my_model_with_custom_loss_class.keras
my_model_with_custom_loss_class.h5
my_model_with_a_custom_loss.keras
my_model_with_custom_loss_threshold_2.keras

my_model_with_a_custom_metric_v2.keras
my_model_with_a_custom_metric.keras
my_model_with_many_custom_parts.h5
my_model_with_many_custom_parts.keras

my_model_with_a_custom_layer.keras